.main {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f7f7;

  animation: pagefadein 1s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pagefadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.main span {
  width: 100%;
}

.banner {
  width: 1920px;
  height: 367px;
  background-color: #86acaf;
}

.banner h1 {
  padding: 0px;
  margin-top: 177px;
  margin-left: 196px;
  text-align: left;
  font: normal normal bold 34px/45px Noto Sans TC;
  color: #14292b;
}

.breadcrumb {
  padding: 33px;
  margin-left: 160px;
}

.breadcrumb a {
  margin-left: 5px;
  text-align: left;
  font: normal normal bold 16px/21px Noto Sans TC;
  letter-spacing: 0.16px;
  color: #14292b;
}

.eventslist {
  width: 100%;
  padding: 88px 140px 100px 140px;
  margin: 0;
}

.searchbar {
  width: 380px;
  height: 44px;
  padding: 10px;
  margin-bottom: 48px;
  display: inline-flex;
  background-color: white;
  align-items: center;
  float: right;
  text-decoration: none;
  border: 1px solid #14292b;
  border-radius: 50px;
}

.searchbar input {
  width: 100%;
  outline: none;
  border: none;
}

.searchbar input::placeholder {
  color: #626f71;
}

.searchbar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
  margin-right: 3px;
}

.flexbox {
  width: 100%;
  height: 100%;
}

.ticket {
  width: 100%;
  height: 400px;
  padding: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.ticket:nth-child(odd) {
  flex-direction: row;
}
.ticket:nth-child(even) {
  flex-direction: row-reverse;
}

.imgbox {
  width: 550px;
  height: 360px;
  overflow: hidden;
}

.imgbox img {
  padding: 0;
  width: 100%;
  height: 100%;

  display: block;
  margin: auto;

  transition: 0.5s;
  object-fit: cover;
}

.ticket:hover {
  box-shadow: 5px 5px 10px #cccccc;
}

.ticket:hover .imgbox img {
  transform: scale(1.2);
}

.textbox {
  width: 940px;
  padding: 0px 20px 0px 20px;
}

.textbox h2 {
  text-align: left;
  font: normal normal bold 25px/37px Noto Sans TC;
  letter-spacing: 0.35px;
  color: #14292b;
}

.textbox p {
  text-align: left;
  font: normal normal normal 16px/25px Noto Sans TC;
  letter-spacing: 0.32px;
  color: #626f71;
}

.newsticket {
  width: 100%;
  padding: 30px;
  display: flex;
  border-bottom: 1px dotted #86acaf;
  background-color: none;
}

.newsticket h2 {
  text-align: left;
  font: normal normal 600 20px/22px Raleway;
  letter-spacing: 0.4px;
  color: #14292b;
}

.newsticket label {
  float: right;

  text-align: right;
  font: normal normal normal 16px/22px Raleway;
  letter-spacing: 0.32px;
  color: #5f7b7e;
}
