.main {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f7f7;

  animation: pagefadein 1s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pagefadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.main span {
  width: 100%;
}

.banner {
  width: 1920px;
  height: 367px;
  background-color: #86acaf;
}

.banner h1 {
  padding: 0px;
  margin-top: 177px;
  margin-left: 196px;
  text-align: left;
  font: normal normal bold 34px/45px Noto Sans TC;
  color: #14292b;
}

.breadcrumb {
  padding: 33px;
  margin-left: 160px;
}

.breadcrumb a {
  margin-left: 5px;
  text-align: left;
  font: normal normal bold 16px/21px Noto Sans TC;
  letter-spacing: 0.16px;
  color: #14292b;
}

.content {
  background-color: #f1f7f7;
  margin: 60px 140px 144px 140px;
}

.content p {
  padding: 0;
  margin: 0px 40px 34px 40px;
  text-align: left;
  font: normal normal normal 16px/25px Noto Sans TC;
  letter-spacing: 0.32px;
  line-height: 30px;
  color: #14292b;
}

.flexbox {
  width: auto;
  display: flex;
  justify-content: flex-start;
}

.ticket {
  margin-left: 16px;
  width: 100%;
}

.ticket p {
  margin: 0;
  padding: 10px 0px 10px 20px;
  text-align: left;
  font: normal normal normal 16px/25px Noto Sans TC;
  letter-spacing: 0.32px;
  background-color: #5f7b7e;
  color: #ffffff;
}

.ticket ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ticket li {
  padding: 17px 0px 10px 20px;
  text-align: left;
  font: normal normal normal 16px/25px Noto Sans TC;
  letter-spacing: 0.32px;
  color: #14292b;
  white-space: nowrap;
}

.ticket li a:hover {
  color: #763636;
}
