.main {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f7f7;

  animation: pagefadein 1s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pagefadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
