.header {
  width: auto;
  height: 108px;
  background-color: #f1f7f7;
  padding: 140px, 10px, 5px, 130px;
  display: flex;
}

.logo {
  font-weight: bold;
}

.header ul {
  width: auto;
  list-style-type: none;
  padding: 1%;
  margin: 0;
  display: flex;
}

.navl,
.navr {
  display: flex;
  align-items: center;
}

.navr {
  margin-left: 250px;
}

.navl li,
.navr li {
  white-space: nowrap;
}
.navl li {
  margin-left: 100px;
  float: left;
}

.navr li {
  margin-left: 20px;
  float: right;
}

.navl button:hover,
.navl button:active,
.navl button.active {
  color: #14292b;
}

.searchbar {
  display: inline-flex;
  background-color: white;
  align-items: center;

  padding: 3%;
  text-decoration: none;
  border: 1px solid #14292b;
  border-radius: 50px;
}

.searchbar input {
  outline: none;
  margin-left: 5px;
  border: none;
}

.searchbar input::placeholder {
  color: #626f71;
}

.searchbar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
}

.menubtn {
  width: 144px;
  height: 40px;
  background-color: #ffffff;
  color: #626f71;
  font: normal normal bold 15px/17px Noto Sans TC;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;

  transition: 0.5s;
}
.menubtn:hover {
  color: #14292b;
  border: 1px solid #14292b;
}

.subnav {
  border: none;
  outline: none;
  position: relative;
  display: inline-block;

  padding: 22px 0px;
  background-color: inherit;
}

.subbtn {
  padding: 16px;
  font: normal normal bold 20px/22px Noto Sans TC;
  letter-spacing: 0.4px;
  color: #626f71;
  border: none;
  background-color: inherit;
}

.subnavcontent {
  display: none;
  position: absolute;
  margin-left: 9px;
  box-shadow: 5px 5px 5px #cccccc;

  color: #626f71;
  background-color: #ffffff;
  text-align: left;
  font: normal normal bold 16px/22px Noto Sans TC;
  letter-spacing: 0.32px;

  min-width: 150px;
  z-index: 1;
}

.subnavcontent a {
  padding: 10%;
  text-decoration: none;
  display: block;
}

.subnavcontent a:hover {
  background-color: #86acaf;
  transition: 0.5s;
  color: #14292b;
}

.subnav:hover .subnavcontent {
  display: block;
}
