.header {
  width: auto;
  height: 108px;
  background-color: #f1f7f7;
  display: flex;
  padding: 10px 110px 5px 20px;
}

.navl,
.navr {
  width: 100%;
}

.navl ul,
.navr ul {
  margin: 0;
  list-style-type: none;
}

.navl ul {
  display: flex;
  float: left;
  align-items: center;
}

.navr ul {
  display: flex;
  float: right;
  align-items: center;
  margin-top: 10px;
}

.navl li,
.navr li {
  white-space: nowrap;
}

.navl li {
  margin-left: 120px;
}

.navr li {
  margin-right: 20px;
}

.navl button:hover,
.navl button:active,
.navl button.active {
  color: #14292b;
}

.searchbar {
  width: 180px;
  height: 44px;
  padding: 10px;
  display: inline-flex;
  background-color: white;
  align-items: center;

  text-decoration: none;
  border: 1px solid #14292b;
  border-radius: 50px;
}

.searchbar input {
  width: 100%;
  outline: none;
  border: none;
}

.searchbar input::placeholder {
  color: #626f71;
}

.searchbar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
  margin-right: 3px;
}

.menubtn {
  width: 144px;
  height: 40px;
  background-color: #ffffff;
  color: #626f71;
  font: normal normal bold 15px/17px Noto Sans TC;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;

  transition: 0.5s;
}
.menubtn:hover {
  color: #14292b;
  border: 1px solid #14292b;
}

.subnav {
  border: none;
  outline: none;
  position: relative;
  display: inline-block;

  padding: 22px 0px;
  background-color: inherit;
}

.subbtn {
  padding: 16px;
  font: normal normal bold 20px/22px Noto Sans TC;
  letter-spacing: 0.4px;
  color: #626f71;
  border: none;
  background-color: inherit;
}

.subnavcontent {
  display: none;
  position: absolute;
  margin-left: 9px;
  box-shadow: 5px 5px 5px #cccccc;

  color: #626f71;
  background-color: #ffffff;
  text-align: left;
  font: normal normal bold 16px/22px Noto Sans TC;
  letter-spacing: 0.32px;

  min-width: 150px;
  z-index: 1;
  animation: fadein 0.5s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.subnavcontent a {
  padding: 10%;
  text-decoration: none;
  display: block;
}

.subnavcontent a:hover {
  background-color: #86acaf;
  transition: 0.5s;
  color: #14292b;
}

.subnav:hover .subnavcontent {
  display: block;
}
