.news {
  max-width: 1600px;
  padding: 0px 10px 100px 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.news h1 {
  padding: 56px;
  width: 100%;
  text-align: left;
  font: normal normal bold 28px/25px Noto Sans TC;
  letter-spacing: 0.56px;
  color: #14292b;
}
